body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    background-color: gray;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.cell:focus {
    outline: none;
}

#status {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#reset {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#reset:hover {
    background-color: darkgray;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
